.week__nav {
    margin-top: auto;
    background: linear-gradient(180deg, #232323 0%, #151515 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.week__nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.week__nav ul li {
    list-style: none;
    background: linear-gradient(180deg, #3E3E3E 0%, #131313 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 25px 55px 25px 55px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    font-size: 18px;
}
